.code {
  display: block;
  max-width: 640px;
  background-color: #1e1e1e;
  color: #e2e4e8;
  font-size: 18px;
  padding: 16px;
  margin: 32px auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  animation: append-animate .4s ease-in-out;
}

@keyframes append-animate {
	from {
		transform: translateY(10px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;	
	}
}

.number {
  color: #b5cea8;
  margin-right: 0.3em;
}

.string {
  color: #ce9178;
  margin-right: 0.3em;
}

.boolean,
.NaN {
  color: #569cd6;
  margin-right: 0.3em;
}

.undefined,
.null {
  color: #80868a;
  margin-right: 0.3em;
}